<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact | Emilia Cole</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script> <!-- Vincular con un archivo de javascript que esta en linea -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="contact">
    <header class="horizontal">
        <nav>
            <ul>
                <li><a href="/">home</a></li> <!-- li*4<a  -->
                <li><a href="/about">about</a></li> <!-- "li" elemento de bloque -->
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fab fa-instagram"></i></a> <!-- icono de instagram -->
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-spotify"></i></a>
            <a href=""><i class="fab fa-apple"></i></a>
            <a href=""><i class="fab fa-amazon"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
        </nav>
    </header>
    <main>
        <h1>CONTACT //</h1>
        <section>
            <h3>WE ARE HERE</h3>
            <iframe src="https://www.google.com.ar/maps/place/Reino+Unido/@53.2425088,-22.2550407,4z/data=!3m1!4b1!4m5!3m4!1s0x25a3b1142c791a9:0xc4f8a0433288257a!8m2!3d55.378051!4d-3.435973" width=100% height=450px frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </section>
        <section>
            <h3>CONTACT INFO</h3>
            <article>
                <h4>MANAGEMENT | Karen Blanche</h4>
                <p>
                    <b>email: </b><a href="mailto:info@mysite.com">info@mysite.com</a>
                </p>
                <p>
                    <b>phone: </b><a href="tel:+123-456-7890">123-456-7890</a>
                </p>
            </article>
            <article>
                <h4>BOOKING | DANIEL KU </h4>
                <p>
                    <b>email: </b><a href="mailto:info@mysite.com">info@mysite.com</a>
                </p>
                <p>
                    <b>phone: </b><a href="tel:+123-456-7890">123-456-7890</a>
                </p>
            </article>
            <article>
                <h4>LABEL | Wix Records, Jake Coldham</h4>
                <p>
                    <b>email: </b><a href="mailto:info@mysite.com">info@mysite.com</a>
                </p>
                <p>
                    <b>phone: </b><a href="tel:+123-456-7890">123-456-7890</a>
                </p>
            </article>
            <article>
                <h4>PR | That Girl Pr, Sarah Brookstone</h4>
                <p>
                    <b>email: </b><a href="mailto:info@mysite.com">info@mysite.com</a>
                </p>
                <p>
                    <b>phone: </b><a href="tel:+123-456-7890">123-456-7890</a>
                </p>
            </article>
        </section>
    </main>
</body>
</html>