body {
    font-family: "Open Sans";
}

li{
    list-style: none; /* Quitar viñeta */
}

a{
    text-decoration: none; /* Quitar subrrayado */
    color: black;
}

h1,h2{
    text-transform: uppercase; /* Pasar h1 a MAYUSCULA */
    font-family: "Raleway";
}

h1{
    font-size: 64px; /* tamaño de fuente */
}

header nav ul li{
    text-transform: uppercase;
}

header nav ul{
    padding: 0;
}